name: ecommerce_app
description: "A new Flutter project."
publish_to: 'none' 
version: 1.0.0+1

environment:
  sdk: '>=3.4.3 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  
  # Paquete para hacer llamadas HTTP
  http: ^1.2.1
  
  # Paquete para guardar el token (compatible con Web/Chrome)
  shared_preferences: ^2.2.3 
  
  cupertino_icons: ^1.0.6

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true